<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section id= "division">
        <div class="info">
        <div class="titulo">
            <h2>QUESTIONS?</h2>
            <h2>COMENTS?</h2>
            <h2>WE'D LOVE TO HEAR FROM YOU.</h2>
        </div>
        
            <P>The school is open 10:00am to 5:00pm Tuesday to Friday and 10:00am to 3:00pm on Saturday. During July and August Summer Camps, we're open from Monday to Friday 8:30am to 4:30pm.</P>
            <p>Our mailing address is:</p>
            <p>152A Charlotte Street, Peterborough ON</p>
            <p>Phone: 705-742-3221</p>
        </div>
        <div class="formulario">
            <div class="contenido">
                <form action ="/singup" method="POST">
                
                <div class="fromgroup mb-3">
                    <input type="text" name="name_user" placeholder="Enter your name" class="form-control" autofocus>
                </div>
                <div class="fromgroup mb-3">
                    <input type="email" name="email_user" placeholder="Enter a valid email address" class="form-control" autofocus>
                </div>
                <div class="fromgroup mb-3">
                    <textarea type="text" name="massage_user" placeholder="Enter your massage" class="form-control" autofocus></textarea>
                </div>
                <div class="form-group mb-3">
                    <button class="btn btn-success btn-block">Enviar</button>
                </div>
            </div>
        </div>

    </section>


 
    
</body>
</html>